<div class="chat__content">
    <header class="chat__header">
        {{{headerAvatar}}}
        <div class="chat__name">{{headerName}}</div>
        {{{headerButton}}}
    </header>

    <div class="chat__messages">
        <div class="chat__messages-wrapper">
            {{{messages}}}
        </div>
    </div>
    <footer class="chat__footer">
        {{{footerForm}}}
    </footer>
</div>
