<div class="input-field{{#if className}} {{ className }}{{/if}} {{#if error}}input-field_error{{/if}}">
    {{{input}}}
    <label class="input-field__label" for="{{id}}">{{label}}</label>
    {{#if error}}
        <div class="input-field__error">{{error}}</div>
    {{/if}}
</div>
