<div class="form-wrapper">
    <header class="login-form__header">
        <h1 class="login-form__title">Регистрация</h1>
    </header>

    <main class="login-form__content">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputFirstName}}}
        {{{inputSecondName}}}
        {{{inputPhone}}}
        {{{inputPassword}}}
        {{{inputPasswordRepeat}}}
    </main>
    <footer class="login-form__footer">
        {{{footerButtonSubmit}}}
        {{{footerLinkSignin}}}
    </footer>
</div>