<div class="dialog-item {{#if selected}}dialog-item_current{{/if}}">
    <div class="dialog-item__avatar">
        {{{avatar}}}
    </div>
    <div class="dialog-item__preview">
        <div class="dialog-item__name">{{{name}}}</div>
        <div class="dialog-item__message">
            {{#if messageByYou}}
            <div class="dialog-item__message-by-you">Вы:</div>
            {{/if}}

            {{{message}}}
        </div>
    </div>
    <div class="dialog-item__info">
        <div class="dialog-item__time">{{{time}}}</div>
        {{#if count}}
        <div class="dialog-item__count">{{count}}</div>
        {{/if}}
    </div>
</div>