<main class="chat-page">
    <aside class="dialogs">
        <div class="dialogs__header">
            {{{dialogsHeaderLink}}}
            <form class="dialogs__search">
                {{{dialogsSearchInput}}}
            </form>
        </div>

        <div class="dialogs__list">
            {{{dialogListItems}}}
        </div>
    </aside>
    <div class="chat">
        {{#if chatPlaceholder}}
        <div class="chat__placeholder">
            Выберите чат, чтобы отправить сообщение
        </div>
        {{else}}

        {{{chat}}}

        {{/if}}
    </div>
</main>