<div class="profile-page">
    <aside class="profile-page__aside">
        {{{asideButton}}}
    </aside>
    <main class="profile">
        <header class="profile__header">
            {{{avatar}}}
            <div class="profile__name">
                {{{profileName}}}
            </div>
        </header>
        {{{form}}}
        <footer class="profile__footer">
            {{{profileFooter}}}
        </footer>
    </main>
    {{{modal}}}
</div>