<div class="profile__data-row {{#if className}} {{className}}{{/if}}">
    {{#if link}}
    {{{link}}}
    {{else}}
    <label
           class="profile__data-label"
           for="{{id}}">
        {{label}}
    </label>
    {{{input}}}
    {{/if}}
</div>